workflow:
  rules:  # Do not create pipelines for tag updates
    - if: $CI_COMMIT_TAG
      when: never
    - when: always

stages:
  - environment
  - test
  - deploy

before_script:
  - package_name='spade'
  # Set the AEA compute environment deployment directory by host
  - aea_projects="/projects"
  - if [ $(hostname) == ??-rfe?.lanl.gov ]; then aea_projects="/usr/projects/ea"; fi
  - aea_compute_path="${aea_projects}/aea_compute"
  - aea_modulefiles="${aea_compute_path}/modulefiles"
  - module use ${aea_modulefiles}
  - module load texlive
  # Start with an AEA environment to put Conda on PATH
  - project_environment='spade-env'
  - environment_choices="aea-beta aea-quarterly aea-release"
  - for env in ${environment_choices}; do if [[ -d "${aea_compute_path}/${env}" ]]; then environment=${env}; break; fi; done
  - echo ${environment}
  - module load ${environment}
  # Activate CI environment if available. If not, rely on environment job running before other jobs.
  - module use ${PWD}/modulefiles
  - project_environment="${package_name}-env"
  - environment_path="${aea_compute_path}/${project_environment}"
  - echo ${environment_path}
  - if [[ -d ${environment_path} ]]; then module unload ${environment}; module load ${project_environment}; fi
  - conda info
  - conda_artifacts_directory='conda-bld'

environment:
  stage: environment
  variables:
    GIT_STRATEGY: clone
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"
  script:
    # Always build from the base/aea compute environment with boa/libmamba
    - module unload ${project_environment}
    - module load ${environment}
    # Don't rebuild environment for merge request pipelines unless the environment is missing
    - if [[ -d "${environment_path}" ]]; then exists=true; else exists=false; fi
    - if [[ $CI_PIPELINE_SOURCE == "merge_request_event" ]] && ${exists}; then exit 0; fi
    # Don't rebuild environment for main unless the environment file has changed or the environment doesn't exist
    - files=$(git diff --name-only ${CI_COMMIT_SHA} ${CI_COMMIT_BEFORE_SHA}) || true
    - if [[ $CI_COMMIT_BRANCH == "main" ]]; then production=true; else production=false; fi
    - if [[ "${files}" == *"environment.yml"* ]]; then modified=true; else modified=false; fi
    - if ${production} && ${exists} && ! ${modified}; then exit 0; fi
    # Re-build the Conda environment on changes to environment files
    - conda env create --prefix ${environment_path} --file environment.yml --solver=libmamba --force
    # Remove write permissions from group to avoid accidental environment changes
    - chmod -R 755 ${environment_path}
    # place the common modulefiles in an accessible location
    - cp ${PWD}/modulefiles/* ${aea_modulefiles}
  tags:
    - shell-aea

fast-test:
  stage: test
  variables:
    GIT_STRATEGY: clone
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  script:
    - abaqus_command='--abaqus-command=/apps/abaqus/Commands/abq2024 --abaqus-command=/apps/abaqus/Commands/abq2023 --abaqus-command=/apps/abaqus/Commands/abq2022'
    - echo ${abaqus_command}
    - scons regression ${abaqus_command}
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: build/pytest/coverage.xml
  tags:
    - shell-aea

style:
  stage: test
  variables:
    GIT_STRATEGY: clone
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  script:
    - scons flake8 black-check
  tags:
    - shell-aea

conda-build:
  stage: test
  variables:
    GIT_STRATEGY: clone
  dependencies: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"
  script:
    # Only build one compiler variant during merge request testing
    - python_version="3.12"
    - variants=""
    - if [[ $CI_PIPELINE_SOURCE == "merge_request_event" ]]; then variants="--variants {'python':['${python_version}']}"; fi
    - echo $variants
    # Override default permissions. Set group to rx with no write permissions.
    - umask 0022
    - mkdir ${conda_artifacts_directory}
    - croot="/scratch/$USER/$(basename $PWD)/${conda_artifacts_directory}"
    - VERSION=$(python -m setuptools_scm) conda mambabuild recipe-internal --channel conda-forge --no-anaconda-upload --croot ${croot} --output-folder ${conda_artifacts_directory} ${variants}
    - conda build purge --croot ${croot}
  artifacts:
    expire_in: '2 hrs'
    paths:
      - conda-bld/linux-64/spade-*-*.tar.bz2
  tags:
    - shell-aea

# https://re-git.lanl.gov/aea/developer-operations/aea-conda
aea-conda-deploy:
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_BRANCH == "main"
  variables:
    PARENT_CI_PROJECT_PATH: $CI_PROJECT_PATH
    PARENT_CI_COMMIT_BRANCH: $CI_COMMIT_BRANCH
    AEA_CONDA_PACKAGE_JOB: conda-build
    AEA_CONDA_PACKAGE_ARTIFACTS: conda-bld/linux-64/spade-*-*.tar.bz2
  trigger:
    project: aea/developer-operations/aea-conda
    branch: main
    strategy: depend

# It MUST be called pages
pages:
  stage: deploy
  variables:
    GIT_STRATEGY: clone
  dependencies: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_BRANCH == "main"
  script:
    - rm -rf public && mkdir -p public
    # Ensure the ``_version.py`` file is created
    # TODO: I don't think the setuptools_scm call is necessary anymore
    - python -m setuptools_scm
    - scons html --clean && scons html
    - cp -r build/docs/html/* public/
  artifacts:
    paths:
      # It MUST be called public
      - public
  tags:
    - shell-aea
