!.gitignore
!.gitlab-ci.yml
!README.md
!spade/
spade/*.o
spade/.sconsign.dblite
spade/abaqus_v6.env
spade/spade_cpp_*
!recipe/
!environment.yml
!modulefiles/
!pyproject.toml
__pycache__/
.sconsign.dblite
config.log
conda-bld/
build/
*.png
*.cae
*.odb
*.log
*.rpy*
*.jnl
ABQ*
*.zip
*.pyc
*pycache*/
*.jou
.coverage
