workflow:
  rules:  # Do not create pipelines for tag updates
    - if: $CI_COMMIT_TAG
      when: never
    - when: always

stages:
  - environment
  - version
#  - test
  - build
  - deploy

before_script:
  - package_name='spade'
  # Set the AEA compute environment deployment directory by host
  - aea_projects="/projects"                                                    
  - if [ $(hostname) == ??-rfe?.lanl.gov ]; then aea_projects="/usr/projects/ea"; fi
  - aea_compute_path="${aea_projects}/aea_compute"
  - aea_conda_channel="${aea_compute_path}/aea-conda"
  - aea_modulefiles="${aea_compute_path}/modulefiles"
  - module use ${aea_modulefiles}
  - module use ${PWD}/modulefiles
  # Prefer the CI environment and fall back to AEA environment(s)
  - project_environment='spade-env'
  - environment_choices="${project_environment} aea-beta aea-release"
  - for env in ${environment_choices}; do if [[ -d "${aea_compute_path}/${env}" ]]; then environment=${env}; break; fi; done
  - echo ${environment}
  - module load ${environment}
  - conda info
  # TODO: kick off 'environment' job for missing environments instead of re-creating the environment build logic here
  # https://re-git.lanl.gov/aea/python-projects/waves/-/issues/8
  - environment_path="${aea_compute_path}/${project_environment}"
  - if [[ ${project_environment} != ${environment} ]]; then module unload ${environment}; module load ${project_environment}; fi
  # Environment troubleshooting information
  - echo $PATH
  - echo $PYTHONPATH
  - echo $MANPATH
  - echo $LD_LIBRARY_PATH
  - echo $CI_PIPELINE_SOURCE                                                    
  - conda info
  - env | grep -i proxy
  - conda_artifacts_directory='conda-bld'

environment:
  stage: environment
  variables:
    GIT_STRATEGY: clone
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" || $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "dev"
      changes:
        - "modulefiles/*"
        - "environment.yml"
    - if: $ENVIRONMENT == "build"
  script:
    # Don't rebuild environment for merge request pipelines unless the environment is missing
    - if [[ -d "${environment_path}" ]]; then exists=true; else exists=false; fi
    - if [[ $CI_PIPELINE_SOURCE == "merge_request_event" ]] && ${exists}; then exit 0; fi
    # Don't rebuild environment for main unless the environment file has changed or the environment doesn't exist
    - files=$(git diff --name-only ${CI_COMMIT_SHA} ${CI_COMMIT_BEFORE_SHA}) || true
    - if [[ $CI_COMMIT_BRANCH == "main" ]]; then production=true; else production=false; fi                                                                     
    - if [[ "${files}" == *"environment.yml"* ]]; then modified=true; else modified=false; fi
    - if ${production} && ${exists} && ! ${modified}; then exit 0; fi
    # Set LANL proxies
    - export ALL_PROXY="proxyout.lanl.gov:8080"
    - export HTTP_PROXY="http://$ALL_PROXY"
    - export HTTPS_PROXY=$HTTP_PROXY
    # Re-build the Conda environment on changes to environment files
    - conda_options='--force'
    - conda env create --prefix ${environment_path} --file environment.yml ${conda_options}
    # Remove write permissions from group to avoid accidental environment changes
    - chmod -R 755 ${environment_path}
    # place the common modulefiles in an accessible location
    - cp ${PWD}/modulefiles/* ${aea_modulefiles}
    # Link SCons man pages to the expected MANPATH location
    - ln ${environment_path}/scons.1 ${environment_path}/man/man1/scons.1
    - ln ${environment_path}/sconsign.1 ${environment_path}/man/man1/sconsign.1
    - ln ${environment_path}/scons-time.1 ${environment_path}/man/man1/scons-time.1
  tags:
    - shell-aea

microbump:
  stage: version
  variables:
    GIT_STRATEGY: clone
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_BRANCH == "main"
  script:
    # Conditionally "bump" micro version number. setuptools_scm already bumps number, just need to strip local version.
    - old_version=$(python -m setuptools_scm)
    # First capture group is the major.minor.micro numbers
    # Second capture group is everything following micro
    - version_regex='\([0-9]\+\.[0-9]\+\.[0-9]\+\)\(.*\)'
    # Returns clean production tag regardless if tagged already
    - production_version=$(echo ${old_version} | sed "s/${version_regex}/\1/g")
    # Catch unexpected production version regex and exit with error if suffix is found
    - suffix=$(echo ${production_version} | sed "s/${version_regex}/\2/g")
    - |
        if [ -n "${suffix}" ]; then
            echo "Could not resolve the production version from ${old_version}. Left with ${production_version} and ${suffix}."
            exit 1
        fi
    - developer_version=${production_version}+dev
    # Tag production commit and previous developer commit. Continue if already tagged.
    - git config user.name "${GITLAB_USER_NAME}"
    - git config user.email "${GITLAB_USER_EMAIL}"
    - git tag -a ${production_version} -m "production release ${production_version}" || true
    # Assume last merge was dev->main. Pick previous.
    - last_merge_hash=$(git log --pretty=format:"%H" --merges -n 2 | tail -n 1)
    - git tag -a ${developer_version} -m "developer release ${developer_version}" ${last_merge_hash} || true
    - git push oauth2-origin --tags
  tags:
    - shell-aea

conda-build:
  stage: build
  variables:
    GIT_STRATEGY: clone
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "dev"
  script:
    # Only build one compiler variant during merge request testing
    - python_version="3.11"
    - variants=""
    - if [[ $CI_PIPELINE_SOURCE == "merge_request_event" ]] && [[ $CI_MERGE_REQUEST_TARGET_BRANCH_NAME != "main" ]]; then variants="--variants {'python':['${python_version}']}"; fi
    - echo $variants
    # Set the LANL internal proxies
    - export ALL_PROXY="proxyout.lanl.gov:8080"
    - export HTTP_PROXY="http://$ALL_PROXY"
    - export HTTPS_PROXY=$HTTP_PROXY
    # Check that the documentation builds
    # - scons html
    # Run the Conda package build/test
    - mkdir ${conda_artifacts_directory}
    - croot="/scratch/$USER/$(basename $PWD)/${conda_artifacts_directory}"
    - VERSION=$(python -m setuptools_scm) conda mambabuild recipe --channel conda-forge --no-anaconda-upload --croot ${croot} --output-folder ${conda_artifacts_directory} ${variants}
    - conda build purge --croot ${croot}
  artifacts:                                                                    
    expire_in: '2 hrs'
    paths:
      - conda-bld/linux-64/spade-*-*.tar.bz2
  tags:
    - shell-aea

deploy:
  stage: deploy
  variables:
    GIT_STRATEGY: clone
  dependencies:
    - conda-build
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "dev"
    - if: $DEPLOY == "deploy"
  script:                                                                       
    # Override default permissions. Set group to rx with no write permissions.
    - umask 0022
    # Build alternate OS packages (assumes original built on linux-64)
    - conda convert ${conda_artifacts_directory}/linux-64/${package_name}-*-*.tar.bz2 --platform osx-64 --output-dir ${conda_artifacts_directory}
    - conda convert ${conda_artifacts_directory}/linux-64/${package_name}-*-*.tar.bz2 --platform win-64 --output-dir ${conda_artifacts_directory}
    # Copy Conda package to AEA Conda Channel
    - cp ${conda_artifacts_directory}/linux-64/${package_name}-*-*.tar.bz2 ${aea_conda_channel}/linux-64
    - cp ${conda_artifacts_directory}/osx-64/${package_name}-*-*.tar.bz2 ${aea_conda_channel}/osx-64
    - cp ${conda_artifacts_directory}/win-64/${package_name}-*-*.tar.bz2 ${aea_conda_channel}/win-64
    # Change group for access by all W-13 staff and clean up permissions
    - chgrp w13users ${aea_conda_channel}/*-64/${package_name}-*-*.tar.bz2 || true
    - chmod go+rx-w ${aea_conda_channel}/*-64/${package_name}-*-*.tar.bz2 || true
    - chmod go+rx-w ${aea_conda_channel}/*-64/${package_name}-*-*.tar.bz2 || true
    # Update the AEA Conda Channel index
    - conda index ${aea_conda_channel}
    # Troubleshooting conda channel deploy and index update
    - conda search -c file:///projects/aea_compute/aea-conda/ --override-channels ${package_name}
  tags:
    - shell-aea

fast-test:
  stage: test
  variables:
    GIT_STRATEGY: clone
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  script:
    - project_root=${PWD}
    - scons
    - ./spade -h
  tags:
    - shell-aea
